.menu_v1_proj {
  background-color: $colour-menuv1bg;
}
.menu_v2_proj {
  background-color: $colour-menuv2bg;
}
.menu_v3_proj {
  background-color: $colour-menuv3bg;
}
.menu_v4_proj {
  background-color: $colour-menuv4bg;
}

.menu_v1_heading {
  color: $colour-fontmenuv1;
  font-style: italic;
}
.menu_v2_heading {
  color: $colour-fontmenuv2;
  font-style: italic;
}
.menu_v3_heading {
  color: $colour-fontmenuv3;
  font-style: italic;
}
.menu_v4_heading {
  color: $colour-fontmenuv4;
  font-style: italic;
}

.menu_v1_byline {
  color: $colour-fontmenuv1;
}
.menu_v2_byline {
  color: $colour-fontmenuv2;
}
.menu_v3_byline {
  color: $colour-fontmenuv3;
}
.menu_v4_byline {
  color: $colour-fontmenuv4;
}
