$colour-headerfooter: #fdcb46;
$colour-fontmenuv1: #3c1218;
$colour-fontmenuv2: #c77412;
$colour-fontmenuv3: #0887fb;
$colour-fontmenuv4: #72bf56;

$colour-headerfooterbg: #579c87;
$colour-homepagebg: #ffffff;
$colour-menuv1bg: #fcdfdb;
$colour-menuv2bg: #fff5fe;
$colour-menuv3bg: #f9f9f9;
$colour-menuv4bg: #fdfffd;

$font-primary: "Roboto", sans-serif;

$border-proj_prev: 0.1rem solid;
$box-shadow: 1px 1px 12px #c0c0c0;
